cryptography==46.0.5
fastapi==0.135.1
Jinja2==3.1.6
lxml==6.0.2
pandas==3.0.1
passlib==1.7.4
pydantic==2.12.5
pydantic_settings==2.13.1
pyotp==2.9.0
python-dotenv==1.2.2
python_jose==3.3.0
qrcode==7.4.2
SQLAlchemy==2.0.25
weasyprint==68.1
xhtml2pdf==0.2.17
zeep==4.3.2
